/*  CONTENITORE DEI DADI */

.dice-container {
    height: fit-content;


    /* posizione */
    position: absolute;
    top: calc(50% - 35px);
    left: calc(50% - 70px);


    display: flex;
    justify-content: center;
    

    border-radius: 30px;
    transition-property: opacity;
    transition-duration: 0.5s;
}

/* DADI */

.dice {
    margin: 20px;
    width: 30px;
    height: 30px;
    transform-style: preserve-3d;
    transform: rotateX(45deg) rotateZ(45deg);

}

@keyframes rolling {
    100% {
        transform: rotateX(360deg) rotateY(720deg) rotateZ(18deg);
    }
}

@keyframes lancio {
    50% {
        transform: translate(0,-30px);
    }
}



.face {
    position: absolute;
    width: 30px;
    height: 30px;
    transform-style: preserve-3d;

    border-radius: 4px;
    border: solid 1px white;

    background: linear-gradient(
        145deg, #dddbd8, #fff
    );
}

.face::after {
    position: absolute;
    content: '';
    
    top: 10px;
    left: 10px;
    width: 7px;
    height: 7px;

    border-radius: 100%;

    background: #131210;
}

.front {
    transform: translateZ(15px);
}

.back {
    transform: rotateX(180deg) translateZ(15px);
}

.top {
    transform: rotateX(90deg) translateZ(15px);
}

.bottom {
    transform: rotateX(-90deg) translateZ(15px);
}

.right {
    transform: rotateY(90deg) translateZ(15px);
}

.left {
    transform: rotateY(-90deg) translateZ(15px);
}



.front::after {
    margin: 1px 2px;
}


.back::after {
    margin: -7px -6px;
    box-shadow: 0px 9px,
                0px 18px,
                15px 0px,
                15px 9px,
                15px 18px;
}


.top::after {
    margin: -7px -7px;
    box-shadow: 18px 18px;
}


.bottom::after {
    margin: -7px -7px;
    box-shadow: 18px 0px,
                18px 18px,
                9px 9px,
                0px 18px;
}


.right::after {
    margin: -6px -6px;
    box-shadow: 15px 0,
                15px 16px,
                0px 16px;
}


.left::after {
    margin: -6px -6px;
    box-shadow: 8px 8px,
                16px 16px;
}