
#messaggio-informativo{
    width: 50%;

    /* posizione */
    position: absolute;
    left: 25%;
    right: 25%;
    top: 20%;

    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: black;
}

#game-container{
    transition-property: transform;
    transition: ease-in-out 0.5s;
}


#contenitore-lato{
    margin: 10px;
    width: 25%;
    height: 530px;
    background-color: #bfdbae;
    border: solid 2px black;
    border-radius: 10px;
    box-shadow: 10px 10px lightblue;
}