@font-face {
    font-family: 'Minecraft-8-bit';
    src: url('/fonts/MinecraftRegular-Bmg3.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@keyframes testo {
    50%{
        font-size: 25px;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


#home-container{
    width: 100%;
    min-height: 100vh;

    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

#main-logo{
    width: 60%;
    margin-top: 100px;
    height: fit-content;
    background-color: black;
    box-shadow: grey 0px 10px 5px;
    margin-bottom: 100px;
}

#scritta-home{
    position: absolute;

    transform: translateX(calc(80% - 300px)) translateY(220px) rotateZ(-15deg);
    text-align: center;
    width: 800px;
    height: 40px;

    animation: testo 2s linear infinite;

    font-size: 20px;
    font-family: Minecraft-8-bit;
    text-shadow: black 3px 3px;
    color: yellow;
}

.homepage-button{
    width: 50%;
    height: 70px;
    margin: 20px;



    font-family: Minecraft-8-bit;
    font-weight: 500;
    font-size: 40px;
    color: white;
    text-shadow: #555555 3px 3px;


    border: solid 5px black;
    background-color: #AAAAAA;
    box-shadow: black 5px 5px;
}

.homepage-button:hover, .form-button:hover{
    background-color: #555555;
}


.account{
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 1;
    
    
    font-family: Minecraft-8-bit;
    font-size: 30px;
    color: white;
    text-shadow: #555555 3px 3px;
    
    width: 50px;
    height: 50px;
    border-radius: 15px;
    border: 3px solid black;
    box-shadow: black 2px 2px;
    background-color: #AAAAAA;
    
    display: flex;
    justify-content: center;
    align-items: center;
}


.form{
    height: fit-content;
    width: 230px;
    z-index: 1;
    
    display: flex;
    flex-direction: column;
    
    position: absolute;
    top: 80px;
    right: 10px;

    padding: 20px;
    
    
    text-align: center;
    color: white;
    font-size: 20px;
    text-shadow: black 2px 2px;
    font-family: Minecraft-8-bit;
}



.form-button{
    display: block;
    width: 200px;
    height: 40px;
    margin: 15px;



    font-family: Minecraft-8-bit;
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-shadow: #555555 2px 2px;


    border: solid 5px black;
    background-color: #AAAAAA;
    box-shadow: black 5px 5px;
}

fieldset{
    border: 0px;
}


/* stili generici */
body {
    background-color: #d7baaa;
    font-family: 'Josefin Sans';
}

.element {
    background-color: #bfdbae;
    border: solid 2px black;
    border-radius: 20px;
    box-shadow: 10px 10px lightblue;
}

.container {
    display: flex;
    justify-content: center;
}
