/* LAYOUT DI GIOCO */

/* contenitori varie parti del gioco */
#game-container{
    display: flex;
    justify-content: center;
}

.sub-container{
    margin: 10px;
    height: 700px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.sub-sub-container{
    height: 540px;
}

.header{
    height: 100px;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
}

.header img{
    position: absolute;
    bottom: 10px;
}

/* contenitore tabellone */
#board-container{
    flex-direction: column;
    justify-content: center;
}


/* contenitore proprieta */
#property-container{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#property{
    width: 90%;
    height: 520px;
    margin: 10px;
}

/* contenitore del menu */
#menu-container{
    width: 25%;
}

#menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#chat{
    flex: 100%;
    margin: 10px;
    width: 90%;
    height: 450px;
}

/* parte relativa ai giocatori */
#player-display{
    flex: 1 1 auto;
}

.player-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 10px;
    border-radius: 10px;
    border: 2px;

    transition: border 0.1s ease-in-out;
}

.player-list-image{
    width: 30px;
    height: 30px;
}

.player-list-name{
    padding-left: 10px;
    flex: 1 1 auto;
}

.saldo{
    text-align: right;
    flex: 4 4 auto;
}

/* parte relativa alle offerte */
/* contenitore delle offerte */
#offer-display{
    display: flex;
    flex-direction: column;

    overflow: auto;
    max-height: 40%;
    scrollbar-width: none;
}

/* chrome */
#offer-display:-webkit-scrollbar{
    display: none;
}



/* titolo offerte */
.titolo-offer-display{
    padding-left: 20px;
}

/* singola offerta */
.offer-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


/* testo nella singola offerta */
.offer-container p, .offer-container img, .offer-container button{
    flex: 1 1 80px;
}

/* immagini della singola offerta */
.offer-container img{
    height: 20px;
}

/* bottone della singola offerta */
.offer-container button{
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(17, 1,68, 0.08);

    font-size: 15px;
    font-weight: bold;

    background-color: white;
    font-family: 'Josefin Sans';

    transition: box-shadow 0.1s ease-in-out;
}

#message-box button:hover, #owner{
    box-shadow: 0 0 25px rgba(17, 1,68, 0.5);
}


/* bottoni della schermata */
.bottone{
    flex: 40%;
    margin: 10px;
    height: 50px;
    font-weight: bold;
    font-family: 'Josefin Sans';
}

#roll {
    transition: 0.5s;
    text-align: center;
}

#roll:hover {
    color: white;
    background: #b33951;
}

#roll:disabled {
    color:  white;
    background-color: #bfdbae;
}





