
/* done */
/* message-box */
#message-box{
    position: absolute;
    width: 800px;
    height: 600px;

    top: calc(50% - 300px);
    left: calc(50% - 400px);

    background-color: white;
    border: 5px solid lightgrey;
    border-radius: 30px;
    
    box-shadow: grey 5px 5px;
    z-index: 3;


    display: flex;
    justify-content: center;
    align-items: center;
}

#message-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 20px;
    width: 90%;
    height: 90%;
}

/*bottoni all'interno della message box*/
#message-box button, #owner, #house-container{

    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(17, 1,68, 0.08);

    font-size: 20px;
    font-weight: bold;

    background-color: white;
    font-family: 'Josefin Sans';

    transition: box-shadow 0.1s ease-in-out;

}

#message-box button:hover, #owner:hover, #house-container:hover{
    box-shadow: 0 0 25px rgba(17, 1,68, 0.5);
}

/* case ed alberghi */
.casa{
    height: 40px;
    margin: 5px;
}

/* contenitori di message box */
.message-sub-container{
    width: 40%;
    margin: 10px;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* contenitore della carta */
#message-sub-container {
    text-align: center;
    height: 80%;
    width: 40%;

    border: solid 1px black;
    box-shadow: 0 0 25px rgba(17, 1,68, 0.5);

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* titolo della carta */
#titolo-message-box {
    font-size: 30px;
    width: 80%;
    padding: 20px;
    margin: 20px;
    margin-bottom: 0px;

    border: solid 1px black;
}


/* descrizione della carta */
#descrizione-message-box {
    text-align: center;
    padding: 20px;
}


/* contenitore dei pulsanti */
#view-button-container{
    display: flex;

    justify-content: center;
    align-items: center;

    height: 80%;
}


/* pulsante per uscire dalla messageBox */
#exit-message-box{
    position: absolute;
    top: 20px;
    right: 20px;

    width: 50px;
    height: 50px;
    font-size: 15px;
    text-align: center;
}



/* parte relativa a make offer */
#make-offer{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.container-make-offer{
    display: flex;
    justify-content: center;
}

.make-offer-player{
    margin: 20px;
}


/* contenitore dei giocatori */
.player-list-offer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.player-list-offer label{
    position: relative;
   
    width: 120px;
    height: 120px;
    margin: 20px;

    border-radius: 10px;
    box-shadow: 0 0 25px rgba(17, 1,68, 0.08);
    text-align: center;


    transition: box-shadow 0.1s ease-in-out;
}

.nome-radio{
    display: inline-block;
    margin: 10px;
}

.player-list-offer label img{
    height: 50%;
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    
}

.player-list-offer label:hover {
    box-shadow: 0px 0px 24px rgba(17, 1,68, 0.5);
}

.make-offer-checklist{
    width: 200px;
    height: 100px;
    color: black;

    overflow: auto;
}

.vertical-line{
    height: 200px;
    width: 0px;
    border: solid 1px lightgray;
}



/* parte relativa a view offer */
#view-offer{
    width: 100%;
    height: 100%;
}

.view-offer-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.view-offer-properties{
    width: 300px;
    height: 150px;
}

.view-offer-properties p{
    text-align: center;
}

.view-offer-player-container img{
    width: 50px;
    height: 50px;
}

.view-offer-player-container{
    width: 250px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.view-offer-title{
    text-align: center;
    margin: 30px;
}

.view-offer-money{
    margin: 50px;
}